* {
    font-family: sans-serif;
}

html, body, .container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fec5bb;
}

.outer {
    display: flex;
    overflow: auto;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
}

.login {
    display: flex;
    background-color: #f8edeb;
    min-width: 50%;
    min-height: 50%;
    padding: 1%;
    border-radius: 2%;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.login-col-container {
    display: flex;
    justify-content: space-between;
}

.login-col {
    display: flex;
    flex-direction: column;
    margin: 2%;
    width: 50%;
}

.cred-col {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cred-col div {
    padding: 2%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

nav ul {
    height: 200px; 
}
nav ul {
    overflow: hidden;
    overflow-y: scroll;
}

.incorrect-creds {
    color: #c9184a;
}